{% extends 'base.html' %}

{% block content %}

<div class="container mt-3 mb-2 cont pt-2 pb-3 centerBlock">

    <h1>{{title}}</h1>

    <form action="{% url 'createolympiad' %}" method="post">
        {% csrf_token %}
        <div>
        {% for field in form %}
        <div class="form-group">
            {{field.label_tag}}
            <div>{{field}}</div>
            {% if field.errors%}
            {% for er in field.errors %}
            <div class="alert alert-danger">
                {{er}}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        </div>
        <input type="submit" value="Создать" class="btn btn-primary">
    </form>

</div>

{% endblock %}